---
---

@import 'colors';
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'media';
@import 'type';
@import 'modules';
@import 'ui';

body {
  font-family: 'Museo Sans';
  background-color: $gray;
  font-size: 16px;
}


a, a:hover, a:active, a:focus {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: $text-color;
  font-size: 14px;
  font-weight: 500;
}

@import 'header_footer';
@import 'index';
@import 'modal';
@import 'section';
@import 'blog';
@import 'schedule';
@import 'location';
@import 'live-stream';
