---
layout: default
---

<section id='announcement'>
  <h1>
    Goruco is a one day, single track conference in New York City
  </h1>
  <div class='details'>
    <p class='venue'>The Altman Building,<br/>135 West 18th Street, NYC</p>
    <p class='day'>16</p>
    <p class='month'>June</p>
    <p class='year'>2018</p>
  </div>
  <div class='cta'>
    <a class='button' href='https://ti.to/goruco/2018#tito-releases' target='_blank'>
      Purchase a ticket
    </a>
  </div>
</section>

<section id='speakers'>
  <h2>
    Speakers
  </h2>
  <div class='speakers'>
  {% for speaker in site.data.speakers %}
  {% assign speaker_name = speaker.name | slugify %}
    <div class='speaker'>
      <div class='speaker-id' id='{{speaker_name}}'>
        <img src='/assets/images/speakers/{{speaker_name}}.jpg'>
        <h3>
          {{speaker.name}}
          <br/>
          <a href="https://twitter.com/{{speaker.twitter}}" target="_blank">
            @{{speaker.twitter}}
          </a>
        </h3>
      </div>
      <div class='speaker-excerpt'>
        <h4>{{speaker.title}}</h4>
        <p>{{speaker.description}}</p>
      </div>
      <div aria-labelledby='myModalLabel' class='speaker-modal modal fade' id='modal-{{ speaker_name }}' role='dialog' tabindex='-1'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-body'>
              <h5>{{speaker.title}}</h5>
              <p>{{speaker.description}}</p>
              <img class='modal-image img-responsive' src='/assets/images/speakers/jessica-rudder.jpg'>
              <div class='modal-link'>
                <a href='https://twitter.com/{{speaker.twitter}}' target='_blank'>{{speaker.twitter}}</a>
              </div>
              <h4 class='modal-title'>
                {{speaker.name}}
                <span class='modal-location'></span>
              </h4>
              <div class='modal-bio'>
                <i>{{speaker.bio}}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>

<section id='venue'>
  <a href='https://goo.gl/maps/f85YyYcYR3L2' id='map'>
    <div class='location'>
      <h3>via 1, 2, 3, F, M, AND L TRAINS.</h3>
    </div>
  </a>
</section>

<section id='schedule'>
  <h2> Schedule </h2>
  <h3> June 15th </h3>
  <ol class='schedule'>
    <li class='schedule-item'>
      <p class='time'>6:30 PM</p>
      <div class='talk-details'>
        <h3>WeWork Pre Party</h3>
        <p class='speaker_name'>
          WeWork invites all GORUCO attendees for a night of pre party, fun, music, food & networking. <a href="https://members.wework.com/events/goruco-pre-party-91073" target="_blank">You must RSVP to attend.</a>
        </p>
      </div>
    </li>
  </ol>

  <h3> June 16th </h3>
  <ol class='schedule'>
    {% for schedule in site.data.schedule-alpha %}
      <li class='schedule-item'>
        <p class='time'>{{schedule.time}}</p>
        <div class='talk-details'>
          <h3>{{schedule.title}}</h3>
          <p class='speaker_name'>{{schedule.name}}</p>
        </div>
      </li>
    {% endfor %}
  </ol>
</section>

<section id='sponsors'>
  <div class='prospectus'>
    <h2>Sponsors</h2>
    <p>A huge thanks to our amazing sponsors</p>
    <p>
      <a class='button' href='/assets/sponsor-prospectus.pdf' target='_blank'>
        Become A Sponsor
      </a>
    </p>
  </div>
  <div class='levels'>
    {% for level in site.data.sponsors %}
    {% assign sponsor_level = level[0] %}
      <div class="{{sponsor_level}} level">
        <h3>{{sponsor_level | capitalize}} Sponsor</h3>
        <div class='logos'>
          {% for sponsor in level[1] %}
          <div class="sponsor">
            {% assign sponsor_slug = sponsor.name | slugify %}
            {% assign modal_target = sponsor_level | append: "-modal-" | append: forloop.index %}
            <a class='{{sponsor_slug}}' href='#' data-toggle="modal" data-target='{{modal_target}}'>
              <img src="/assets/images/sponsors/{{sponsor_slug}}.png" alt="{{sponsor.name | capitalize}}" />
            </a>

            {% if sponsor_level != 'bronze'%}
            <div class="modal fade" id="{{ modal_target }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="sponsor-header">
                      <a href="{{ sponsor.website }}" target="_blank">
                        <img class='img-responsive modal-image' src="/assets/images/sponsors/{{ sponsor_slug }}.png" />
                      </a>
                      <div class='modal-link'>
                        <a href="{{ sponsor.website }}" target="_blank">{{ sponsor.website }}</a>
                      </div>
                    </div>
                    {{ sponsor.bio }}
                    <button class='js-close' data-target='{{modal_target}}'>close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endfor %}

        </div>
      </div>
    {% endfor %}
  </div>
</section>
<section id='scholarships'>
  <h2>Scholarships</h2>
  <p>
    We aim to remove obstacles for attendees from under-represented minorities
    and strive for equal access for everyone.
    <a class='button' href='https://goruco18.typeform.com/to/QkZ7UI' target='_blank'>
      Apply for a scholarship ticket!
    </a>
  </p>
  <p>
    In addition, we thank our scholarship sponsors who help make it possible:
  </p>
  <div class='sponsors'>
    {% for sponsor in site.data.scholarships %}
    {% assign sponsor_slug = sponsor.name | slugify %}
    <a class='{{sponsor_slug}} scholarship' href='{{sponsor.website}}' target='_blank'>
      <img src="/assets/images/sponsors/{{sponsor_slug}}.png" alt="{{sponsor.name}}" />
    </a>
    {% endfor %}
  </div>
</section>
<section id='organizers'>
  <h4>
    GORUCO 2018 is organized with <span class="heart">&#9829;</span>
    by these happy and hardworking volunteers
  </h4>
  <div class='organizers'>
  {% for organizer in site.data.organizers %}
    <div class='organizer'>
      <img src="/assets/images/organizers/{{ organizer.name | slugify }}.jpg" />
      <div class='organizer-description'>
        <h5> {{ organizer.name }} </h5>
        <a href="https://twitter.com/{{ organizer.twitter }}" target="_blank">{{organizer.twitter }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
</section>