---
layout: default
---

<section id='announcement'>
  <h1>
    Goruco is a one day, single track conference in New York City
  </h1>
  <div class='details'>
    <p class='venue'>The Altman Building,<br/>135 West 18th Street, NYC</p>
    <p class='day'>16</p>
    <p class='month'>June</p>
    <p class='year'>2018</p>
  </div>
  <div class='cta'>
    <a class='button' href='https://ti.to/goruco/2018#tito-releases' target='_blank'>
      Purchase a ticket
    </a>
  </div>
</section>

<section id='speakers'>
  <h2>
    Speakers
  </h2>
  <div class='speakers'>
  {% for speaker in site.data.speakers %}
  {% assign speaker_name = speaker.name | slugify %}
    <div class='speaker'>
      <div class='speaker-id' id='{{speaker_name}}'>
        <img src='/assets/images/speakers/{{speaker_name}}.jpg'>
        <h3>
          {{speaker.name}}
          <br/>
          <a href="https://twitter.com/{{speaker.twitter}}" target="_blank">
            @{{speaker.twitter}}
          </a>
        </h3>
      </div>
      <div class='speaker-excerpt'>
        <h4>{{speaker.title}}</h4>
        <p>{{speaker.description}}</p>
      </div>
      <div aria-labelledby='myModalLabel' class='speaker-modal modal fade' id='modal-{{ speaker_name }}' role='dialog' tabindex='-1'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-body'>
              <h5>{{speaker.title}}</h5>
              <p>{{speaker.description}}</p>
              <img class='modal-image img-responsive' src='/assets/images/speakers/jessica-rudder.jpg'>
              <div class='modal-link'>
                <a href='https://twitter.com/{{speaker.twitter}}' target='_blank'>{{speaker.twitter}}</a>
              </div>
              <h4 class='modal-title'>
                {{speaker.name}}
                <span class='modal-location'></span>
              </h4>
              <div class='modal-bio'>
                <i>{{speaker.bio}}</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>

<section id='venue'>
  <a href='https://goo.gl/maps/f85YyYcYR3L2' id='map'>
    <div class='location'>
      <h3>via 1, 2, 3, F, M, AND L TRAINS.</h3>
    </div>
  </a>
</section>

<section id='schedule'>
  <h2>Schedule</h2>
  <ol class='schedule'>

    <li class='schedule-item'>
      <p class='time'>9:00 AM</p>
      <div class='talk-details'>
        <h3>Registration</h3>
        <p class='speaker_name'>Doors open, get your conference badge and some New York breakfast</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>10:00 AM</p>
      <div class='talk-details'>
        <h3>Opening Keynote: The Good Bad Bug: Fail Your Way to Better Code</h3>
        <p class='speaker_name'>Jessica Rudder</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>10:40 AM</p>
      <div class='talk-details'>
        <h3>Evented Autonomous Services in Ruby</h3>
        <p class='speaker_name'>Scott Bellware</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>11:20 AM</p>
      <div class='talk-details'>
        <h3>Locking It Down with Ruby & Lockfiles</h3>
        <p class='speaker_name'>Danielle Adams</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>11:40 AM</p>
      <div class='talk-details'>
        <h3>Running Jobs at Scale</h3>
        <p class='speaker_name'>Kir Shatrov</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>12:00 PM</p>
      <div class='talk-details'>
        <h3>Encryption Pitfalls and Workarounds</h3>
        <p class='speaker_name'>Melissa Wahnish</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>12:20 PM</p>
      <div class='talk-details'>
        <h3>The Practical Guide to Building an Apprenticeship</h3>
        <p class='speaker_name'>Megan Tiu</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>1:00 PM</p>
      <div class='talk-details'>
        <h3>Lunch</h3>
        <p class='speaker_name'></p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>02:00 PM</p>
      <div class='talk-details'>
        <h3>The Impermanence of Software</h3>
        <p class='speaker_name'>Andy Croll</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>2:40 PM</p>
      <div class='talk-details'>
        <h3>I've Made a Huge Mistake: We Did Services All Wrong</h3>
        <p class='speaker_name'>Kelly Sutton</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>3:20 PM</p>
      <div class='talk-details'>
        <h3>Writing Ruby Like it's 2018</h3>
        <p class='speaker_name'>Joe Leo</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>3:40 PM</p>
      <div class='talk-details'>
        <h3>Building Efficient APIs with JSON-API</h3>
        <p class='speaker_name'>Rushaine McBean</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>4:00 PM</p>
      <div class='talk-details'>
        <h3>The Twelve-Factor Function</h3>
        <p class='speaker_name'>Desmond Rawls</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>4:20 PM</p>
      <div class='talk-details'>
        <h3>After Death</h3>
        <p class='speaker_name'>Sam Phippen</p>
      </div>
    </li>

    <li class='schedule-item'>
      <p class='time'>5:00 PM</p>
      <div class='talk-details'>
        <h3>Closing Keynote: Analyzing and Reducing Ruby Memory Usage</h3>
        <p class='speaker_name'>Aaron Patterson</p>
      </div>
    </li>

  </ol>
</section>

<section id='sponsors'>
  <div class='prospectus'>
    <h2>Sponsors</h2>
    <p>A huge thanks to our amazing sponsors</p>
    <p>
      <a class='button' href='/assets/sponsor-prospectus.pdf' target='_blank'>
        Become A Sponsor
      </a>
    </p>
  </div>
  <div class='levels'>
    {% for level in site.data.sponsors %}
    {% assign sponsor_level = level[0] %}
      <div class="{{sponsor_level}} level">
        <h3>{{sponsor_level | capitalize}} Sponsor</h3>
        <div class='logos'>
          {% for sponsor in level[1] %}
            {% assign sponsor_slug = sponsor.name | slugify %}
            <a class='{{sponsor_slug}}' href='{{sponsor.website}}' target='_blank'>
              <img src="/assets/images/sponsors/{{sponsor_slug}}.png" alt="{{sponsor.name | capitalize}}" />
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<section id='scholarships'>
  <h2>Scholarships</h2>
  <p>
    We aim to remove obstacles for attendees from under-represented minorities
    and strive for equal access for everyone.
    <a class='button' href='https://goruco18.typeform.com/to/QkZ7UI' target='_blank'>
      Apply for a scholarship ticket!
    </a>
  </p>
  <p>
    In addition, we thank our scholarship sponsors who help make it possible:
  </p>
  <div class='sponsors'>
    {% for sponsor in site.data.scholarships %}
    {% assign sponsor_slug = sponsor.name | slugify %}
    <a class='{{sponsor_slug}} scholarship' href='{{sponsor.website}}' target='_blank'>
      <img src="/assets/images/sponsors/{{sponsor_slug}}.png" alt="{{sponsor.name}}" />
    </a>
    {% endfor %}
  </div>
</section>
<section id='organizers'>
  <h4>
    GORUCO 2018 is organized with <span class="heart">&#9829;</span>
    by these happy and hardworking volunteers
  </h4>
  <div class='organizers'>
  {% for organizer in site.data.organizers %}
    <div class='organizer'>
      <img src="/assets/images/organizers/{{ organizer.name | slugify }}.jpg" />
      <div class='organizer-description'>
        <h5> {{ organizer.name }} </h5>
        <a href="https://twitter.com/{{ organizer.twitter }}" target="_blank">{{organizer.twitter }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
</section>