---
layout: default
---

%section#announcement
  %h1
    Goruco is a one day, single track conference in New York City

  .details
    %p.venue The Altman Building,<br/>135 West 18th Street, NYC
    %p.day 16
    %p.month June
    %p.year 2018

  .cta
    %a.button(href="https://ti.to/goruco/2018#tito-releases" target="_blank")
      Purchase a ticket

%section#speakers
  %h2
    Speakers

  .speakers
    == {% for speaker in site.data.speakers %}
    .speaker
      .speaker-id
        %img(src="/assets/images/speakers/{{ speaker.name | slugify }}.jpg")
        %h3
          <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
          == {{ speaker.name }}
          </a>

      .speaker-excerpt
        %p== {{ speaker.bio }}
    == {% endfor %}

%section#venue
  %a#map{href: "https://goo.gl/maps/f85YyYcYR3L2"}
    .location
      %h2 via 1, 2, 3, F, M, AND L TRAINS.

%section#schedule
  .row
    .col-xs-12
      %h2 Schedule
      %ul.schedule
        == {% for schedule in site.data.schedule %}
      %li.schedule-item
        %p.time== {{ schedule.time }}

        %h3== {{ schedule.title }}
        %p.speaker_name== {{ schedule.name }}
      == {% endfor %}

%section#sponsors
  %h2 Sponsors
  %p A huge thanks to our amazing sponsors
  %p.prospectus
    %a.button(href="/assets/sponsor-prospectus.pdf" target="_blank")
      Become A Sponsor

  .gold
    %h3 Gold sponsors
    .sponsor-group
      %article.stride
        %a(href="http://www.stridenyc.com/" target="_blank")
          <img src="/assets/images/sponsors/stride.png" alt="Stride" />

      %article.xo-group
        %a(href="http://xogroupinc.com/" target="_blank")
          <img src="/assets/images/sponsors/xo-group.png" alt="XO-Group" />

  .silver
    %h3 Silver sponsors
    .sponsor-group
      %article.def-method
        %a(href="http://defmethod.com/" target="_blank")
          <img src="/assets/images/sponsors/def-method.png" alt="Def Method" />

      %article.just-works
        %a(href="http://www.justworks.com/")
          <img src="/assets/images/sponsors/just-works.png" alt="Justworks" />

  .bronze
    %h3 Bronze sponsors
    .sponsor-group
      %article.wyeworks
        %a(href="http://www.wyeworks.com/")
          <img src="/assets/images/sponsors/wyeworks.png" alt="Wyeworks" />

%section#scholarships
  %h2 Scholarships
  %p
    We aim to remove obstacles for attendees from under-represented minorities
    and strive for equal access for everyone.
    %a.btn(href="https://goruco18.typeform.com/to/QkZ7UI" target="_blank")
      Apply for a scholarship ticket!

  %p
    In addition, we thank our scholarship sponsors who help make it possible:

  .sponsor-group
    %article.def-method
      %a(href="http://defmethod.com/" target="_blank")
        <img src="/assets/images/sponsors/def-method.png" alt="Def Method" />

    %article.optoro
      %a(href="http://www.optoro.com/" target="_blank")
        <img src="/assets/images/sponsors/optoro.png" alt="Optoro" />

    %article.rhino
      %a(href="http://www.sayrhino.com/" target="_blank")
        <img src="/assets/images/sponsors/rhino.png" alt="Say Rhino" />

%section#organizers
  %h4
    GORUCO 2018 is organized with <i class="fa fa-heart" aria-hidden="true"></i>
    by these happy and hardworking volunteers
  .organizers
    {% for organizer in site.data.organizers %}
    .organizer
      <img src="/assets/images/organizers/{{ organizer.name | slugify }}.jpg" />
      .organizer-description
        %h5 {{ organizer.name }}
        <a href="https://twitter.com/{{ organizer.twitter }}" target="_blank">{{organizer.twitter }}</a>
  {% endfor %}
