---
layout: default
---

<div class='announcement'>
  <h3> Saturday, June 16th, 2018 </h3>
  <h1>
    <div class='headline'>Goruco is a one day, single track</div>
    Conference in new york city
  </h1>
</div>

<div class='container'>
  <div id='actions' class='row'>
    <div class='col-md-12 action'>
      <h3 class='alert'>
        Tickets On Sale Now!
      </h3>
      <a href="https://ti.to/goruco/2018" target='_blank' class='glossy'>Get Your Tickets TODAY!</a>
    </div>
  </div>
</div>

<div class='container section-container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='content-wrapper'>
        <div class='section' id='schedule'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>
              <h2>Schedule</h2>
            </div>
          </div>
          <div class='post schedule-wrap'>
            <ul class='schedule'>
              {% for schedule in site.data.schedule %}
              <li class="schedule-item {% if schedule.milestone %}milestone{% endif %}">
                <div class="relative">
                  <div class="left">
                    <span class='time'>{{ schedule.time }}</span>
                    <span class='duration'>{{ schedule.duration }} MIN</span>
                  </div>

                  <div class="right {{schedule.css_class}}">
                    <div class="title">{{ schedule.title }} {% if schedule.icon %}<img class="icon" src='/assets/images/{{schedule.icon}}.png' />{% endif %}</div>
                    <div class='name'>{{ schedule.name }}</div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class='row' id='photos'>
          <div class='section-divider'>
            <hr />
            <img src='/assets/images/ruby-hr.png' />
          </div>
          <h2> Photos </h2>
          <div class='slick-photos'>
            {% for photo in site.data.photos %}
              <div>
                <img src=/assets/images/photos/{{photo.filename}} class='photo'/>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class='section type-on-dark' id='location'>
          <div class='section-divider'>
            <hr />
            <img src='/assets/images/ruby-hr.png' />
          </div>

          <div class="location-wrap">
            <div class="location-content">
              <h2 class="text-no-shadow">Location</h2>
              <p>GORUCO 2018 will be held at the beautiful Altman Building in Chelsea, located at 135 West 18th Street in New York City. It is easily accessible via the 1, 2, 3, F, M, and L trains.</p>
              <div class="buttons">
                <a href="http://www.altmanbldg.com/#home" target="_blank" class="ui-btn-secondary-on-dark left-button">Check out the Space</a>
                <a href="https://www.google.com/maps/place/The+Altman+Building/@40.7406744,-73.9984311,17z/data=!3m2!4b1!5s0x89c259bcea246d71:0x2c52a635473c960!4m5!3m4!1s0x89c259bce847986f:0x58d878dcb0e7cac1!8m2!3d40.7406744!4d-73.9962424" target="_blank" class="ui-btn right-button">Get Directions</a>
              </div>
            </div>
          </div>
        </div>

        <div class='speaker-section section hide' id="speakers">
          <div class='row'>
            <div class='col-xs-12'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>
              <h2>Speakers</h2>
            </div>
          </div>

          <div class='speakers'>
            {% for speaker in site.data.speakers %}
            <div class='speaker'>
              <img class='img-responsive small-image' src="/assets/images/speakers/{{ speaker.name | slugify }}.jpg" />
              <div class='speaker-info'>
                <h4>{{ speaker.name }}</h4>
                <h5>{{speaker.title}}</h5>
                <h6>{{ speaker.location }}</h6>
                <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">{{ speaker.twitter }}</a>
              </div>
              <p class='excerpt'>
              {{ speaker.description | truncatewords: 25 }}
              <a href='#' class='read-more' data-toggle="modal" data-target="#modal-{{ forloop.index }}">Read More</a>
              </p>

              <div class="modal fade" id="modal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <h4 class="modal-title">
                        {{ speaker.name }}
                        <span class='modal-location'>{{ speaker.location }}</span>
                      </h4>
                      <div class="modal-bio">
                        <i>{{ speaker.bio }}</i>
                      </div>
                      <img class='modal-image img-responsive' src="/assets/images/speakers/{{ speaker.name | slugify }}.jpg" />
                      <div class='modal-link'>
                        <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">{{ speaker.twitter }}</a>
                      </div>
                      <h5>{{speaker.title}}</h5>
                      {{ speaker.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class='sponsor-section section' id='sponsors'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>
              <h2>Sponsors</h2>
              <h3 class='sponsors-subtitle'>A huge thanks to our amazing sponsors</h3>
              <p class='sponsor-prospectus-holder'>
                <a class="btn btn-danger" href="/assets/sponsor-prospectus.pdf" target='_blank'>Become A Sponsor</a>
              </p>
            </div>
          </div>

          <div class='sponsors'>
            {% for sponsor_level in site.data.sponsors %}
            {% assign level = sponsor_level[0] %}

            <h4 class='sponsors-level-title'>
              {% if level == 'platinum' %}
              Platinum Sponsor
              {% elsif level == 'special-thanks'%}
              Special Thanks
              {% else %}
              {{ level }} Sponsors
              {% endif %}
            </h4>

            <div class='sponsor-level {{ level }}-sponsors'>
              {% for sponsor in sponsor_level[1] %}
              <div class='sponsor-container'>
                <div class='sponsor'>
                  <a href='#' data-toggle="modal" data-target="#{{ level }}-modal-{{ forloop.index }}">

                    <img class='img-responsive small-image {{sponsor.css_class}}' src="/assets/images/sponsors/{{ sponsor.name | slugify }}.png" />
                  </a>

                  <div class="modal fade" id="{{ level }}-modal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4 class="modal-title">
                            {{ sponsor.name }}
                            <span class='modal-location'>{{ sponsor.location }}</span>
                          </h4>
                          <a href="{{ sponsor.website }}" target="_blank">
                            <img class='img-responsive modal-image' src="/assets/images/sponsors/{{ sponsor.name | slugify }}.png" />
                          </a>
                          <div class='modal-link'>
                            <a href="{{ sponsor.website }}" target="_blank">{{ sponsor.website }}</a>
                          </div>
                          {{ sponsor.bio }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class='row section hide'>
          <div class='col-xs-12'>
            <div class='news'>
              <div class='section-divider'>
                <hr />
                <img src='/assets/images/ruby-hr.png' />
              </div>

              <h2>Latest News</h2>

              {% assign latest_post = site.posts.first %}
              <h3>{{ latest_post.date | date: '%B %d, %Y' }}</h3>

              <div class='post'>
                <h2>{{ latest_post.title }}</h2>
                <p>
                {{ latest_post.excerpt }}
                </p>

                <a class='read-more-button' href='{{ latest_post.url }}'>
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class='row section hide'>
          <div class='col-xs-12'>
            <div class='section-divider'>
              <hr />
              <img src='/assets/images/ruby-hr.png' />
            </div>

            <!--       <div class='info'>
              <h2>Location</h2>
              <center><img class='img-responsive' src='https://i.ytimg.com/vi/QH2-TGUlwu4/hqdefault.jpg'></center>
              </div> -->


              <div class='info contact-info' id="contact">
                <h2>Contact Us</h2>
                <p>
                Send us an email <a href='mailto:info@goruco.com'>info@goruco.com</a>
                </p>
                <p>
                Follow us on <a href='https://twitter.com/goruco' target="_blank">Twitter</a>
                </p>
              </div>
          </div>

          <div class="col-xs-12 hide">
            <div class="row">
              <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                <div class="conference-updates">
                  <h4>GET CONFERENCE UPDATES</h4>
                  <form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" form.signup-form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">

                    <input class="signup required mail s3 ui-form-input-on-dark"  type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
                    <input class="signup light-ui-btn" type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">
                    <div style="position: absolute; left: -5000px;">
                      <input name="b_00945f50a161df14372a84a34_cdf39163af" tabindex="-1" type="text" value="">
                    </div>
                  </form>
                  <p>
                  Or get updates on <a href='https://twitter.com/goruco' target="_blank">Twitter</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class='col-xs-12' id='organizers'>
        <div class='section organizer-section'>
          <h5>
            Goruco 2018 is organized with <i class="fa fa-heart" aria-hidden="true"></i> by these happy & hardworking volunteers
          </h5>
          <div class='organizers'>
          {% for organizer in site.data.organizers %}
            <div class='organizer'>
              <img src='/assets/images/organizers/{{ organizer.name | slugify }}.jpg' onerror="if (this.src != '/assets/images/organizers/unknown.jpg') this.src = '/assets/images/organizers/unknown.jpg';">
              <div class='organizer-description'>
                <h4>{{ organizer.name }}</h4>
                <h6><a href='https://twitter.com/{{ organizer.twitter }}' target='_blank'>{{organizer.twitter }}</a></h6>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>