<section id="contact">
  <h2>Contact us</h2>
  <p>
    Send us an email <a href="mailto:info@goruco.com">info@goruco.com</a>
  </p>
  <p>
    Follow us on <a href="https://twitter.com/goruco" target="_blank">Twitter</a>
  </p>

  <div class="newsletter">
    <h3>Get conference updates</h3>
    <form action="//goruco.us2.list-manage.com/subscribe/post?u=00945f50a161df14372a84a34&amp;id=cdf39163af"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
      target="_blank" novalidate="novalidate">

      <input class="signup required mail" type="email" value="" name="EMAIL"
      id="mce-EMAIL" placeholder="Email Address" />
      <input class="signup" type="submit" value="Sign Up" name="subscribe"
      id="mc-embedded-subscribe" />
      <div style="position: absolute; left: -5000px;">
        <input name="b_00945f50a161df14372a84a34_cdf39163af" tabindex="-1" type="text" value="" />
      </div>
    </form>
  </div>
</section>
