<footer>

  <div class='container '>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='code-of-conduct'>
          <p>
            The GORUCO organizers strive for the safety and comfort of everyone at our event. For more information, please read our <a href="/code-of-conduct">Code of Conduct</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='footer'>
    <div class='container '>
      <div class='row'>
        <div class='col-sm-2 copywrite'>
          <h5>Past Years</h5>
        </div>
        <div class='col-sm-6'>
          <div class='nav-links'>
            <a href="http://2007.goruco.com" target="_blank">2007</a>
            <a href="http://2008.goruco.com" target="_blank">2008</a>
            <a href="http://2009.goruco.com" target="_blank">2009</a>
            <a href="http://2010.goruco.com" target="_blank">2010</a>
            <a href="http://2011.goruco.com" target="_blank">2011</a>
            <a href="http://2015.goruco.com" target="_blank">2015</a>
          </div>
        </div>

        <div class='col-sm-3 copywrite'>
          <h5>© 2016 GORUCO</h5>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/assets/javascripts/slick.min.js"></script>
  <script src="/assets/javascripts/application.js"></script>
</footer>
