<header class="header">
  <a href="/">
    <span class="title">Goruco</span>
    <span class="nth">XII</span>
  </a>
  <nav class="nav-links">
    <a href="https://ti.to/goruco/2018#tito-releases" target="_blank">Tickets</a>
    <a href="/#speakers">Speakers</a>
    <a href="/#venue">Venue</a>
    <a href="/#schedule">Schedule</a>
    <a href="/#sponsors">Sponsors</a>
    <a href="/#scholarships">Scholarships</a>
    <a href="/#contact">Contact</a>
    <a href="http://videos.goruco.com/" target="_blank">Videos</a>
  </nav>
</header>

