#announcement {
  background: $color-dark url("/assets/images/nyc/chris-schippers-421927-pexels-muted.jpg") right -20px no-repeat;
  background-size: cover;
  color: $color-white;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 200px;
  min-height: 450px;
  padding: $spacer*3;

  h1 {
    color: $color-white;
    grid-column: 1 / 3;
    grid-row-start: 1;
    max-width: 40rem;
    padding-top: $spacer;
  }

  .details {
    align-items: start;
    border-top: 2px solid $color-primary;
    display: grid;
    grid-gap: $spacer;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    .venue {
      align-self: center;
      font-size: $font-size-24;
      grid-column: 1 / 1;
      grid-row: 1 / 3;
      margin-right: $spacer*4;
    }

    .day {
      color: $color-primary;
      font-size: $font-size-120;
      grid-column-start: 2;
      grid-row: 1 / 3;
      line-height: 1;
      margin: 0;
    }

    .month {
      align-self: end;
      font-size: $font-size-24;
      grid-column-start: 3;
      grid-row-start: 1;
      margin: 0;
    }

    .year {
      font-size: $font-size-24;
      grid-column-start: 3;
      grid-row-start: 2;
      margin: 0;
      position: relative;
      top: -1.25rem;
    }
  }

  .cta {
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;

    a {
      background: $color-primary;
      border-radius: 5px;
      color: $color-white;
      display: block;
      font-size: $font-size-20;
      padding: $spacer;
      text-align: center;
      text-decoration: none;
    }
  }
}
