$red: #CC2B43;
$brown: #333333;
$gray: #ede9e4;
$gray2: #e3dfdb;
$text-color: #403930;
$gray-text-color: #94918D;
$border-gray: #CCCCCC;
$space: 0.8rem;
$ui-height: $space*6.25;
$ui-height-small: $space*5;
$ui-border-radius: 0.4rem;
$color-white: #fff;
