#footer {
  color: rgba($color-dark-light, 0.7);
  padding: $spacer*2;

  a {
    color: $color-primary;
    text-decoration: none;
  }

  .past-years {
    display: flex;
    justify-content: space-between;

    div {
      align-items: baseline;
      display: flex;
    }

    h4 {
      text-transform: uppercase;
    }

    a {
      color: rgba($color-dark-light, 0.7);
    }
  }
}
