.glossy {
  /* background styles */
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: #C8223A; /*for compatibility with older browsers*/
  background-image: linear-gradient(#C8223A, #DF0000);

  /* text styles */
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;

  text-shadow: 0px -1px #333;

  &:hover, &:focus {
    color: #fff;
    font-size: 25px;
  }

  &:hover {
    background-color: #FF1919;
    background-image: linear-gradient(#DE4258, #FF1919);
  }
}

.glossy:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}