header {
  background: $color-white;
  display: flex;
  justify-content: space-between;
  padding: $spacer;

  a {
    text-decoration: none;
  }

  .logo {
    font-weight: bold;
    margin-left: $spacer * 2;
    text-transform: uppercase;

    .title {
      color: #000;
    }
    .nth {
      color: $color-primary;
    }
  }
}
