header {
  background: $color-white;
  display: flex;
  justify-content: space-between;
  padding: $spacer;

  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;

    nav a {
      margin: 0 $spacer $spacer 0;
    }
  }

  a {
    text-decoration: none;
  }

  .logo {
    font-weight: bold;
    margin-left: $spacer * 2;
    text-transform: uppercase;

    @media (max-width: $breakpoint-sm) {
      margin: 0 0 $spacer/2 0;
      width: 100%;
    }

    .title {
      color: #000;
    }

    .nth {
      color: $color-primary;
    }
  }
}
