#scholarships {
  margin: 0 0 $spacer*2 0;

  h2 {
    font-size: $font-size-40;
    text-align: center;
  }

  p {
    margin: 0 auto $spacer auto;
    max-width: 30em;
    text-align: center;
  }

  .button {
    margin: $spacer auto $spacer*3 auto;
    max-width: 265px;
  }

  .sponsors {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }

    img {
      filter: grayscale(100%);
      margin: 0 $spacer $spacer 0;
      max-height: 90px;
    }

    .def-method img {
      max-height: 70px;
    }

    .rhino, .food52, .the-harnisch-foundation, .chloe-isabel{
      img {
        max-height: 45px;
      }
    }

    .the-harnisch-foundation {
      background-color: #242933;

      img {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .chloe-isabel img {
      max-height: 70px;
    }
  }

  .scholarship {
    margin: auto 10px;
  }
}
