#scholarships {
  h2 {
    font-size: $font-size-40;
    text-align: center;
  }

  p {
    margin: 0 auto $spacer auto;
    max-width: 36em;
    text-align: center;
  }

  .optoro img {
    background: #373737;
  }
}
