#scholarships {
  margin: 0 0 $spacer*2 0;

  h2 {
    font-size: $font-size-40;
    text-align: center;
  }

  p {
    margin: 0 auto $spacer auto;
    max-width: 30em;
    text-align: center;
  }

  .button {
    margin: $spacer auto $spacer*3 auto;
    max-width: 265px;
  }

  .sponsors {
    align-items: center;
    display: flex;
    justify-content: center;

    .def-method img {
      max-height: 70px;
    }

    .rhino img {
      max-height: 45px;
    }
  }
}
