$speaker-width: 15rem;

#speakers {
  padding-top: $spacer*3;

  .speakers {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: $spacer*2;
  }

  .speaker {
    flex: 1 0 20%;
    margin: $spacer;
    min-width: $speaker-width;

    &:nth-child(-n+2) {
      display: flex;
      min-width: 40%;

      @media (max-width: $breakpoint-sm) {
        display: block;
        min-width: initial;
      }
    }

    &:nths-last-child(2):nth-child(4n) {
      min-width: 20%;

      @media (max-width: $breakpoint-sm) {
        min-width: initial;
      }
    }

    .speaker-id {
      margin: 0 auto $spacer auto;
      width: $speaker-width;

      h3 {
        background: $color-primary;
        margin: $spacer;
        margin-top: -20px;
        top: -10px;
        padding: $spacer/2;
        position: relative;
        text-align: center;

        a {
          color: $color-white-opacity;
          text-decoration: none;
        }
      }

      img {
        max-width: $speaker-width;
      }
    }

    .speaker-excerpt {
      margin: 0 auto;
      max-width: $speaker-width;

      @media (max-width: $breakpoint-sm) {
        margin: 0 auto $spacer*2;
        max-width: inherit;
      }

      h4 {
        font-weight: 600;
      }
    }

    p {
      margin-top: 0;
      text-align: left;
    }
  }
}
