h4 {
  font-size: 16px;
  font-weight: 500;
  opacity: .7;
  letter-spacing: 1.5px;

  @include xs-screen {
    font-size: 13px;
  }
}

.type-large {
  font-size: $type-large;
}

.type-center {
  text-align: center;
}

.type-no-shadow {
  text-shadow: 0;
}

.type-on-dark {
  color: $white;

  p {
    color: $white;
  }
}
